<!DOCTYPE html>
<html ng-app="htmltocanvas">

<head>
    <title>Membership Card | InstaOffice</title>
    <link rel="icon" href="https://www.instaoffice.in/hood/images/logo/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <style>
        body {
            font-family: 'Work Sans', sans-serif;
        }
        
        .membership-svg {
            display: inline-block;
        }
        
        .card {
            background-image: url('membership_card2.png');
            width: 900px;
            height: 1600px;
            background-position: center;
            background-size: cover;
            position: relative;
            color: #fff;
        }
        
        .client_info {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        
        .user-form {
            display: inline-block;
            vertical-align: top;
            padding: 10px;
        }
        
        .validity_date {
           display: inline-block;
    padding: 20px;
    font-size: 25px;
    margin-left: -30px;
    margin-top: 20px;
        }
        
        .client_meta {
                position: absolute;
    padding: 20px;
    text-align: center;
    margin-top: 812px;
    width: 100%;
        }
        
        #mainBody {
            display: none;
        }
        
        .form-div {
            font-size: 24px;
        }
        
        input {
            font-size: 16px;
            padding: 5px 10px;
            margin-bottom: 10px;
        }
        
        button {
            font-size: 16px;
            margin-top: 20px;
            padding: 5px 10px;
        }
        
        .user_photo {
            margin-top: 518px;
            margin-left: 295px;
            position: absolute;
            background-size: cover;
        }
        
        .u_name {
           text-align: center;
    font-size: 60px;
    height: 42px;
    margin-top: 90px;
        }
        
        .image_outer {
            width: 315px;
            height: 315px;
            border-radius: 50%;
        }
        
        .sign {
            margin-top: 55px;
        }
        
        .sign img {
            width: 150px;
        }
        
        .members_id {
              font-size: 40px;
    margin-top: 66px;
        }
        
        .members_id .uid {
            display: inline-block;
        }
    </style>
</head>

<body ng-controller="mainCtrl" id="mainBody">
    <div id="htmltocanvas" class="membership-svg">
        <div class="card">
            <div class="user_photo">
                <div class="image_outer" id="userPhoto">
                </div>
            </div>
            <div class="client_meta">

                <div class="u_name">{{client_name}}</div>
                <div class="members_id">Members ID:
                    <div class="uid" id="uid"></div>
                </div>
                <div class="sign">
                    <img src="rosha sxign.png">
                </div>
                <div class="validity_date">Valid Till: {{getDateFormat(validity_date)}}</div>
            </div>
        </div>
    </div>
    <div class="user-form">
        <form name="membershipForm">
            <div class="form-div">Fill Name, Validity and click "Make it"</div>
            <br>
            <div class="input-field">
                <label>Validity date (dd/mm/yyyy)</label>
                <br/>
                <input type="date" ng-model="validity_date" placeholder="dd/mm/yyyy" maxlength="10">
                <span ng-show="date_required">required</span>
            </div>
            <div class="input-field">
                <label>Client Name</label>
                <br/>
                <input type="text" name="client_name" ng-model="client_name" required>
                <span ng-show="name_required">required</span>
            </div>
            <div class="input-field">
                <label>Client Photo</label>
                <br/>
                <input type='file' id="imgInp" />
            </div>
            <button ng-click="make_it()">Make it</button>
        </form>
        <div class="loading-msg" ng-show="loading">Making Membership Card & it will download automatically...</div>
    </div>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="script.js"></script>
    <script src="node_modules/html2canvas/dist/html2canvas.min.js"></script>
    <script src="node_modules/moment/min/moment.min.js"></script>
    <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        if (localStorage.getItem("pwd") != null) {
            document.getElementById("mainBody").style.display = "block"
        } else {
            document.getElementById("mainBody").style.display = "none"
            var pwd = prompt('Please enter your password:', '');
            if (pwd == 'insta1234') {
                document.getElementById("mainBody").style.display = "block"
                localStorage.setItem("pwd", pwd);
            }
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    // $('#blah').attr('src', e.target.result);
                    // $('#blah').css("background-image", e.target.result);
                    $('#userPhoto').css('background-image', 'url(' + e.target.result + ')');
                    $('#userPhoto').css('background-size', 'cover');
                    $('#userPhoto').css('background-repeat', 'no-repeat');
                    $('#userPhoto').css('background-position', 'center');
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function() {
            readURL(this);
        });
    </script>>
</body>

</html>